body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ffffff, #e6f7ff);
  color: hsl(0, 17%, 93%);
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  color: #003366;
  font-weight: 700;
}

form {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #003366;
  font-weight: 600;
}

input[type="text"], input[type="email"], input[type="date"], input[type="number"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin: 5px 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="number"]:focus {
  border-color: #003366;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 51, 102, 0.5);
}

button {
  width: 100%;
  padding: 10px;
  background-color: #003366;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #002244;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #003366;
  color: #ffffff;
}

td {
  background-color: #e6f7ff;
}

#cpf-erro-message, #telefone-erro-message {
  color: #cc0000;
  display: none;
}
